configuration {
    modi:                   [drun,filebrowser,window,run];
    font:                   "FiraCode Nerd Font Mono 9";
    display-drun:           "";
    display-run:            " ";
    display-filebrowser:    " ";
    display-window:         " ";
    drun-display-format:    "{name}";
    // icon-theme:          "Tela-circle-dracula";
}
