configuration {
    modi:                   [drun,filebrowser,window,run];
    show-icons:             true;
    font:                   "FiraCode Nerd Font Mono 10";
    display-drun:           "";
    display-run:            " ";
    display-filebrowser:    " ";
    display-window:         " ";
    drun-display-format:    "{name}";
    window-format:          "{w}{t}";
    // icon-theme:          "Tela-circle-dracula";
}
