// Base Config //

@import "./base.rasi"

// Current Theme, loaded from the symlink
@theme "./themes/current.rasi"

// Default configuration, loaded from the symlink
@import "./list_bg.rasi"
// @import "./apps_top.rasi"
