// Base Config //
configuration {
    show-icons:                  true;
    font:                        "FiraCode Nerd 10";
    // icon-theme:                  "Tela-circle-dracula";
}

// Current Theme, loaded from the symlink
@theme "./current_theme.rasi"

// Default configuration, loaded from the symlink
@import "./default_config.rasi"
