[Desktop Entry]
Version=1.0
Name=Ship Log
Comment=System information from fastfetch
Exec=kitty --class fastfetch --title About sh -c 'fastfetch; read -n 1 -s'
Terminal=false
Type=Application
Icon=Ventures
Categories=GTK;
StartupNotify=false
