[Desktop Entry]
Version=1.0
Name=GitHub
Comment=GitHub WebApp
Exec=chromium --new-window --app="https://github.com/" --name="GitHub" --class="GitHub"
Terminal=false
Type=Application
Icon=GitHub
StartupNotify=true
